body{
    width: 900px;
    font-family: arial, serif, sans-serif;
    border: 1px solid #404040;
    margin: auto;
    max-width: 900 px;
}
/*.conteneur{
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    background-color: darkseagreen;
}*/
/*
#menu{
    width: 10%;
}*/
/*nav{
    position: relative;
    font-size:0.8em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 10px;
}*/
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*background-color: darkgrey;*/
    /*justify-content: center;
    align-items: center;*/
    /*box-sizing: content-box;*/
}

#photo{
    width: 35%;
    justify-content: center;
    background-color: #feca07;
    padding: 5% 0 5% 0;
    /*display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    background-color: #feca07;
    height: 20vh;*/
}
#image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2.5px solid #feb007d3;
    overflow: hidden;
    margin: auto;
    /*    width: 150px;
    height: 150px;
    border-radius: 80px;
    border-style: solid;
    border-color: #feb007d3;
    border-width: 0.3em;*/
}
/*.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;
}*/
#photosize{
    width: 205px;
}
#titre{
    width: 65%;
    line-height: 110%;

}
#titre > h1{
    font-size: 200%;
    padding: 15% 0 0 5%;
    font-weight: lighter;
}
/*h1{
    font-weight: normal;
    font-size: 1.7em;
    margin: 50px 10px 0px 25px;
    padding: 5px;
    color:#404040;
}*/
#prenom{
    color:#feca07;
    font-weight: bold;
    font-size: 1.7em;
}
#nom{
    font-weight: normal;
    font-size: 1.7em;
    color:#404040;
}
#titre > h3{
    font-size: 200%;
    padding: 0 0 0 0;
    font-weight: lighter;
}
#metier{
    font-weight: normal;
    margin: 0px 10px 15px 30px;
    padding: 0px;
    letter-spacing: 0.5px;
    color:#404040;
}
main{
    display: flex;
    flex-direction: row;
}

p{
    color:#404040;
    font-size: 0.7em;
    text-align: justify;
    font-style: normal;
    line-height: 1.2;
}
/*#screenleft{
    display: flex;
    width:15%;
    height: 100%;
}*/
/*#screenright{
    display: flex;
    width:15%;
    height: 100%;
}*/

#leftsection {
    display: flex;
    width: 35%;
    flex-direction: column;
    background-color: #feca07;
}
#rightsection{
    display: flex;
    width: 65%;
    flex-direction: column;
}

/*.leftelement{
    background-color: #feca07;
}*/
.leftelement > h2{
    background-color: #404040;
    color: #feca07;
    font-size:1em;
    border: 1px solid black;
    text-align: center;
    height: 26px;
    padding-top: 10px;
}
address{
    color:#404040;
    /*margin: 10px 20px 0px 20px;*/
    padding: 5px; 
    font-style: normal;
    padding: 10% 15% 15% 15%;
    line-height: 1.2;

}
#contact{
    background-color: #feca07;
}
#aboutme{
    background-color: #feca07;
    padding: 10% 15% 100% 15%;
    line-height: 1.5;
    text-align: justify;
}
#loisirs{
    background-color: #feca07;
}
.contenurubrique{
    background-color: #feca07;
    color:#404040;
}
.contenuloisirs{
    background-color: #feca07;
    color:#404040;
    display:flex;
    justify-content: space-around;
    margin: 10px 20px 0px 20px;
    padding: 5px;    
}
.iconeloisir{
    color: #feca07;
    margin: 0px 25px 0px 0px;

}
.titresection{
    margin: 10px 0px 10px 20px;
}
h2 i{
    color: #feca07;
    margin: 0px 25px 0px 0px;
}
#underline{
    border-bottom: 1px solid #feca07;
}
.sectioncv{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px 20px;
    padding: 0px 10px 0px 5px;
}
.date{
    flex: 1;
    display:flex;
    flex-direction:row;
    font-size:0.8em;
    margin: 0px;
    padding: 0px;
}
.icone{
    color: #feca07;
    width:20px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}
.subdate{
    margin: 0px;
    padding: 0px;
}
.subsectioncv{
    flex: 2;
    margin: 0px;
    padding: 0px;
}
.subsectioncv h4{
    color:#404040;
    padding: 2px;
}
.subsectioncv p{
    color:#404040;
    padding: 2px;
}
.titresubsection{
    margin: 0px;
    padding: 4px;
    font-size:1em;
    color:#404040;
}
.subtitresubsection{
    padding: 2px;
    font-size:0.8em;
    color:#404040;
}
.subdate {
    padding: 5px;
    font-size:0.9em;
    color:#404040;
}
footer{
    display: flex;
    flex-direction: row;

}
.recommandation{
    margin: 0px 10px 0px 20px;
    padding: 5px;
}
.recommandation > p {

}

#rightsection > h2{
    color:#404040;
    border-bottom: 2px solid #feca07;
    margin: 10px 0px 10px 20px;
    padding: 0px 0px 15px 0px;
}
h4{
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
h5{
    font-weight: bold;
    margin: 2px 0px 2px 0px;
    padding: 2px;
}h6{
    font-weight: normal;
    margin: 2px 0px 2px 0px;
    padding: 2px;
}


@media all and (max-width: 800px){
    
    body {
        width: 100%;
    }

    header {
        flex-direction: column;

    }

    #photo {
        width: 100%;
        padding: 2% 0 2% 0;
    }

    #titre {
        width: 95%;
        text-align: center;
    }

    #titre > h1{
        font-size: 120%;
        padding: 5% 0 0 5%;
    }

    #titre > h3{
        font-size: 170%;
        padding: 0 0 5% 5%;
    }

    main {
        flex-direction: column-reverse;
    }

    #rightsection {
        width: 90%;
        margin: auto;
    }

    #leftsection {
        width: 100%;
    }

    address {
        padding: 5% 15% 5% 15%;
        text-align: center;
        font-weight: bold;
    }

    #recommandation {
        padding: 4% 0 4% 5%
    }

    h1 {
        padding-top: 5%;
    }

    h2 {
        padding-bottom: 5%;
    }

    h3 {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    #aboutme {
        padding: 4% 15% 4% 15%;
        /*padding: 8% 15% 8% 15%;*/
    }

    #leftsection h2 {
        padding: 2% 1% 1% 1%;
        margin-top: 0;
        border-right: none;
        border-top: 1px solid #404040;
        border-bottom: 1px solid #404040;
    }

    .contenuloisirs {
        padding-bottom: 3%;
    }
}
@media all and (max-width: 500px){
        
    /*#rightsection >h2 {
        text-align: center;
    }*/

    /*.sectioncv {
        flex-direction: column;
        align-items: center;
    }

    .titresubsectioncv {
        text-align: center;
    }*/

    h1 {
        font-size: 150%;
    }

    h3 {
        font-size: 130%;
    }

    .icone {
        margin: 5% 2% 0 5%;
    }
}

@media all and (max-width: 450px){

    /*#rightsection {
        text-align: center;
    }*/

    #rightsection > h2 {
        font-size: 100%;
        /*text-align: center;*/
    }

    .icone {
        margin: 6% 2% 0 5%;
    }
}

@media all and (max-width: 355px) {

    #image {
        width: 150px;
        height: 150px;
    }

    #photosize {
        width: 150px;
    }
    
    h3 {
        font-size: 120%;
    }
    
    .sectioncv {
        flex-direction: column;
    }

    .titresubsection {
        margin-top: -17px;
        padding-left: 0;
        width: 250px;
    }

    .icone {
        margin-top: -17px;
        visibility: hidden;
    }

    /*#rightsection {
        text-align: center;
    }*/

    #rightsection > h2 {
        width: 100%;
    }

    .date {
        margin: 0;
    }

}