/*--------------- Mise en forme & style ---------------*/
body{
    /*width: 900px;*/
    font-family: arial, serif, sans-serif;
    border: 1px solid #404040;
    margin: auto;
    max-width: 900px;
}

p{
    color:#404040;
    font-size: 0.9em;
    text-align: justify;
    font-style: normal;
    line-height: 1.2;
}

h4{
    font-weight: normal;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

h5{
    font-size: 85%;
    font-weight: bold;
    margin: 2px 0px 2px 0px;
    padding: 2px;
}

h6{
    font-size: 85%;
    font-weight: normal;
    margin: 2px 0px 2px 0px;
    padding: 2px;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#photo{
    width: 35%;
    justify-content: center;
    background-color: #feca07;
    padding: 5% 0 5% 0;
}

#image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2.5px solid #feb007d3;
    overflow: hidden;
    margin: auto;
}

#photosize{
    width: 205px;
}

#titre{
    width: 65%;
    line-height: 110%;
}

#titre > h1{
    font-size: 190%;
    padding: 15% 0 0 5%;
    font-weight: lighter;
}

#prenom{
    color:#feca07;
    font-size: 1.7em;
    font-weight: bold;
}

#nom{
    font-weight: normal;
    font-size: 1.7em;
    color:#404040;
}

#titre > h3{
    font-size: 200%;
    padding: 0 0 0 0;
    font-weight: lighter;
}

#metier{
    font-weight: normal;
    margin: 0px 10px 15px 30px;
    padding: 0px;
    letter-spacing: 0.5px;
    color:#404040;
}

#underline{
    border-bottom: 1px solid #feca07;
}

main{
    display: flex;
    flex-direction: row;
}

#leftsection {
    display: flex;
    width: 35%;
    flex-direction: column;
    background-color: #feca07;
}

.leftelement > h2{
    background-color: #404040;
    color: #feca07;
    font-size:1em;
    border: 1px solid black;
    text-align: center;
    height: 26px;
    padding-top: 10px;
}

#contact{
    background-color: #feca07;
}

address{
    color:#404040;
    padding: 5px; 
    font-style: normal;
    padding: 10% 15% 35% 15%;
    line-height: 1.2;
}

.contenurubrique{
    background-color: #feca07;
    color:#404040;
}

#aboutme{
    background-color: #feca07;
    padding: 10% 15% 80% 15%;
    line-height: 1.5;
    text-align: justify;
}

#loisirs{
    background-color: #feca07;
}

#contenuloisirs{
    background-color: #feca07;
    color:#404040;
    display:flex;
    justify-content: space-around;
    margin: 10px 20px 5px 20px;
    padding: 5px;    
}

#rightsection{
    display: flex;
    width: 65%;
    flex-direction: column;
}

.titresection{
    margin: 10px 0px 10px 20px;
}

#titrecourt{
    display: none;
}

h2 i{
    color: #feca07;
    margin: 0px 25px 0px 0px;
}

.sectioncv{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 5px 20px;
    padding: 0px 10px 0px 5px;
}

.sectioncv > h4 {
    font-size: 1.1em;
}

.date{
    flex: 1;
    display:flex;
    flex-direction:row;
    font-size:0.85em;
    margin: 0px;
    padding: 0px;
}

.icone{
    color: #feca07;
    width:20px;
    margin: 5px 0px 0px 0px;
    padding: 0px;
}

.date h4 {
    font-size: 1em;
    margin: 0px;
    padding: 3px;
}

.subsectioncv{
    flex: 2;
    margin: 0px;
    padding: 0px;
}

.subsectioncv h3 {
    margin: 0px;
    padding: 2px;
    font-size:1em;
    color:#404040;
}

.subsectioncv h4{
    color:#404040;
    padding: 2px;
}

.subsectioncv p{
    color:#404040;
    font-size:0.9em;
    padding: 2px;
}

.subdate {
    padding: 5px;
    font-size:0.9em;
    color:#404040;
}

.recommandation{
    margin: 0px 10px 0px 20px;
    padding: 5px;
}

#recom {
    flex-direction: row;
}

#arkadia {
    width: 50%;
}

#snef {
    width: 50%;
}

#rightsection > h2{
    color:#404040;
    border-bottom: 2px solid #feca07;
    margin: 10px 0px 10px 20px;
    padding: 0px 0px 15px 0px;
}


/*--------------- Responsive - Media Queries ---------------*/

@media all and (max-width: 875px){
        
    #titre{
        width: 65%;
        line-height: 100%;
    }
    
    #titre > h1{
        font-size: 180%;
        padding: 15% 0 0 5%;
        font-weight: lighter;
    }
}

@media all and (max-width: 800px){
    
    header {
        flex-direction: column;
    }

    #photo {
        width: 100%;
        padding: 2% 0 2% 0;
    }

    #titre {
        width: 95%;
        text-align: center;
    }

    #titre > h1{
        font-size: 120%;
        padding: 5% 0 0 5%;
    }

    #titre > h3{
        font-size: 170%;
        padding: 0 0 5% 5%;
    }

    main {
        flex-direction: column-reverse;
    }

    #rightsection {
        width: 90%;
        margin: auto;
    }

    .sectioncv{
        margin: 0px 1px 10px 1px;
        padding: 0px 2px 0px 2px;
    }

    #leftsection {
        width: 100%;
    }

    address {
        padding: 5% 15% 5% 15%;
        text-align: center;
        font-weight: bold;
    }

    #recommandation {
        padding: 4% 0 4% 5%
    }

    h1 {
        padding-top: 5%;
    }

    h2 {
        padding-bottom: 5%;
    }

    h3 {
        padding-top: 10%;
        padding-bottom: 5%;
    }

    #aboutme {
        padding: 4% 15% 4% 15%;
    }

    #leftsection h2 {
        padding: 2% 1% 1% 1%;
        margin-top: 0;
        border-right: none;
        border-top: 1px solid #404040;
        border-bottom: 1px solid #404040;
    }

    .contenuloisirs {
        padding-bottom: 3%;
    }

    .date h4 {
        font-size: 1em;
        margin: 0 5px 5px 5px;
        padding: 3px;
    }
}

@media all and (max-width: 550px){
    
    #titrecourt {
        display: inline;
    }

    #titrelong {
        display: none;
    }

    h5{
        font-size: 65%;
    }
    
    h6{
        font-size: 65%;
    }
}

@media all and (max-width: 500px){
        
    h1 {
        font-size: 150%;
    }

    h3 {
        font-size: 130%;
    }

    .icone {
        margin: 5% 2% 0 5%;
    }
}

@media all and (max-width: 450px){

    #rightsection > h2 {
        font-size: 100%;
    }

    .icone {
        margin: 6% 2% 0 5%;
    }
}

@media all and (max-width: 355px) {

    #image {
        width: 150px;
        height: 150px;
    }

    #photosize {
        width: 150px;
    }
    
    h3 {
        font-size: 120%;
    }
    
    .sectioncv {
        flex-direction: column;
    }

    .subsectioncv h3 {
        margin-top: -17px;
        padding-left: 0;
        width: 250px;
    }

    .icone {
        margin-top: -17px;
        visibility: hidden;
    }

    #rightsection > h2 {
        width: 100%;
    }

    .date {
        margin: 0;
    }

}